body {
  background: #2d2d30;
}

.container-header {
  padding-top: 60px;
  height: 450px;
  background-color: #000011;
  color: #ede9ff;
  text-align: center;
}

.container-main {
  padding: 15px 30px 15px 30px;
}